.grid {
    border: 1px solid black;
    height: 400px;  /* Increase height */
    width: 400px;   /* Increase width */
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;  /* Center the grid horizontally */
}

.grid div {
    height: 40px;  /* Increase the height of each cell */
    width: 40px;   /* Increase the width of each cell */
}

.ending-block {
    background-color: red;
}

.starting-block {
    background-color: blue;
}

.l1, .l2, .l3 {
    background-color: brown;
}

.l4, .l5 {
    background-color: lightblue;
}

.c1 {
    background-color: black;
}

.c2, .c3 {
    background-color: lightgrey;
}

.frog {
    background-color: green;
}

.power-up {
    background-color: yellow;
    width: 20px;  /* Increase size of the power-up */
    height: 20px;
    margin: 5px;
    border-radius: 50%;
}
